.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }

  .logout-btn-admin {
    display: flex;
    align-items: center;
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .logout-btn-admin:hover {
    background: darkred;
  }
  